* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth
}

body {
    width: 1260px;
    background-color: #C4C4C4;
}

.cabecalho {
    width: 99.6%;
    height: 80px;
    border: 2px solid black;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #222222;
}

.logo {
    width: 10%;
    height: 45%;
    margin-top: 1%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 5%;
    font-size: 15px;
}
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.carrinho {
    height: 25px;
    margin-left: 50px;
}
.cards{
    height:350px;
}
.fifa21{
    top:200px;
    margin: 5px auto;
    width:950px;
    height: 300px;  
}
h1{
    margin-left:415px ;
}
.divsection{
    height: 350px;
}
.img{
    margin-left :400px;
}
.descricao{
    margin-top:20px;
}
.bottom{
    position: absolute;
    width: 220px;
    height: 61px;
    left: 510px;
    top: 360px;
    cursor: pointer;
    background-color:red;
}
.comprar{
    color:white
    
}
.trailer{
    margin-left: 535px;
}
.fifa{
    width:500px;
    margin-left: 390px;
}
.alunosgps {
    background-color: #222222;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    color: white;
}

.alunosgps img {
    width: 50px;
}

.checkpoint {
    background-color: #222222;
    color: white;
    text-align: center;
}
