*{
    margin: 0 auto;
    padding: 0;
    scroll-behavior:smooth
}
body{
    width: 100%;
    background-color:#C4C4C4;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   }
.cabecalho{
    width:100%;
    height:80px;
    border: 2px solid black;
    display: flex;
    background-color: #222222;
    justify-content:space-around;
    gap:200px;
}
.logo{
    width:10%;
    height:45%;
    margin-top: 1%;
}
ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap:1rem;
    margin-top:6%;
    color:white;}
.carrinho{
    width:7%;  
    height: 35px;
}
.container{
    width: 500px;
    height:400px;
    background-color:white;
    margin-top:5%;
    border-radius: 15px;
}
.img{
    width:203px;
    margin-top:45px;
    margin-left:160px;
}
.form{
    margin-left:135px;
    margin-top:25px;
}
input{
    width:250px;
    height:25px;
    border-radius: 5px;
    border: 2px solid #A4A4A4;
}
.enviar{
    background: #33BB69;
    margin-top:40px;
    width:200px;
    margin-left:30px;
    color:white;
    text-align: center;
}

.x{
    margin-left:460px;
    margin-top:10px;
}