*{
    margin: 0 auto;
    padding: 0;
    scroll-behavior:smooth
}
body{
    width: 1260px;
    background-color:#C4C4C4;
}
.cabecalho{
    width:99.6%;
    height:80px;
    border: 2px solid black;
    gap:2rem;
    display: flex;
    justify-content:space-around;
    background-color: #222222;
}
.logo{
    width:10%;
    height:45%;
    margin-top: 1%;
}
ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap:1rem;
    margin-top:8%;
    color:white;}
.carrinho{
    width:10%;   
}
.fundo{
    width:100%;
    height: 25rem;
}
h1{
    color:white;
    position:absolute;
    top:35%;
    left:27%;
}
span{
    color:red;
}
.retangulo{
    border: 2px solid red;
    width:15%;
    height:2.5rem;
    border-radius:1rem;
    top:45%;
    left: 42%;
    position:absolute;
    background-color:red;
}
h2{
    color:white;
    text-align:center;
}
h3{
    text-align:center;
    font-size:2rem;
    margin-top:3%;
}
.cards{
    border: 2px solid #C4C4C4;
    width:90%;
    height:19rem;
    display: flex;
    gap: 2px;
    justify-content:space-around;
}
.card1{
    border: 1px solid #C4C4C4;
    width:20%;
    height:19rem;
    background-color:white;
    border-radius: 0.55rem;
}
.img1{
    margin:5%;
    margin-left:23%;
}
.valor{
    color:black;
    font-size:90%;
    flex-direction: column;
}
li{
    margin-left:6%;
}
.semjuros{
    font-size:75%;
}
.envio{
    color: #619D00;
    font-size: 55%;
}
.card2{
    border: 1px solid #C4C4C4;
    width:20%;
    height:19rem;
    background-color:white;
    border-radius: 0.55rem;
}
.img2{
    margin:5%;
    margin-left:23%;
}
.valor2{
    color:black;
    font-size:90%;
    flex-direction: column;
}
li{
    margin-left:6%;
}
.semjuros{
    font-size:75%;
}
.envio{
    color: #619D00;
    font-size: 55%;
}
.card3{
    border: 1px solid #C4C4C4;
    width:20%;
    height:19rem;
    background-color:white;
    border-radius: 0.55rem;
}
.img3{
    margin:5%;
    margin-left:23%;
}
.valor3{
    color:black;
    font-size:90%;
    flex-direction: column;
}
li{
    margin-left:6%;
}
.semjuros{
    font-size:75%;
}
.envio{
    color: #619D00;
    font-size: 55%;
}
h4{
    font-size:2rem;
    text-align:center;
    margin-top:6%;
}
.estrelas{
    border:1px solid #C4C4C4;
    height:15rem;
    width:90%;
    gap: 34px;
}
.mesa{
    border-radius: 1rem;
    margin-left: 11%;
    margin-top: 3%;
}
.cadeira{
    border-radius: 1rem;
    margin-left:13%;
}
h5{
    color:white;
    font-size:1.2rem;
    position:absolute;
    top: 178%;
    margin-left: 19%;}

h6{
    color:white;
    font-size:1.2rem;
    position:absolute;
    top: 178%;
    margin-left: 60%;
}
footer{
    border: 1px solid #C4C4C4;
    height:17rem;
    justify-content: space-around;
    background-color:#C4C4C4;
}

.logo2{
    border: 1px solid black;
    height:15rem;
    display: flex;
    background-color:#222222;
    gap: 26rem;
}
.jogo{
    width:10%;
    height:4rem;
    margin-top:6%;
}
.redes{
    width:10%;
    height:5rem;
    margin-top:6%;
}
h7{
    margin-left:41%;
}
@media screen and (max-width:412px){
    .cabecalho{
        width:30% ;
        gap: 2%;
        margin: 0;
        justify-content:space-around;
    }
    li{
        font-size:35%;
         margin-left:13%;
    }
    .carrinho{
        display:none;
    }
     .fundo{
         width:30%;
     }
    .logo{
        width:28%;
        margin-left: 1%;
        margin: 0;
        margin-top: 1%;
        }  
        h1{
            position: absolute;
            left: 3%;
            top: 30%;
            font-size:1.5rem;
        }
        .retangulo{
            width:27%;
            height:2.5rem;
            top: 55%;
            left:30%;
         }
         h3{
            position: absolute;
            left: 6%;
         }
         .cards{
             left:1%;
             flex-direction: column;
             margin-left:-32%;
             margin-top: 25%;
         }
        .card1{
            width:15%;
            height:20rem;
        }
        .img1{
            width:60%;
        }
        .card2{
            width:15%;
            height:20rem;
        }
        .img2{
            width:60%;
        }
        .card3{
            width:15%;
            height:20rem;
        }
        .img3{
            width:60%;
        }
        .estrelas{
            margin-left:1%;
            width:10%;
            flex-direction: column;
            margin-top: 10%;
        }
        .mesa{
            width:220%;
            margin-left: 11%;
            margin-top: 3%;
        }
        .cadeira{
            width:220%;
            border-radius: 1rem;
            margin-left:13%;
        }
        h5{
            position:absolute;
            top: 155%;
            margin-left: 19%;}
        
        h6{
            position:absolute;
            top: 167%;
            margin-left: 23%;
        }
        footer{
            margin:0%;
            width:26%;
            margin-top: 1%;
            justify-content: space-around;
        }
        .jogo{
            width:40%;
            height:4rem;
            margin-top:2%;
            margin-left:30%;
        }
        .redes{
            width:35%;
            margin-top:25%;  
            margin-left:-200%
              }
        h7{
            margin-left:12%;
        
        }}