* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #C4C4C4;
}

.cabecalho {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    position: fixed;
    align-items: center;
}

.logo {
    height: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 2px;
    font-size: 15px;
    align-items: center;

}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.carrinho {
    height: 25px;
}

.fundo {
    width: 100%;
    background-image: url(../img/fundo.png);
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    position: absolute;
    top: 35%;
    left: 25%;
}

span {
    color: red;
}

.butom2 {
    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 50%;
    cursor: pointer;
    background-color: red;
    cursor: pointer;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 200%;
    margin-top: 3%;
}

.cards {
    width: 90%;
    height: 700px;


}

.bottom {
    background-color: #33BB69;
    width: 100%;
    height: 30%;
    margin-top: 55%;
}

.cardprimeira {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 2%;
    justify-content: space-around;

}

.card1 {
    width: 20%;
    height: 85%;
    background-color: white;
    border-radius: 0.55rem;
}

.img1 {
    margin: 5%;
    margin-left: 23%;
    transition: all 2s;
    cursor: pointer;
}

.img1:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.envio {
    color: #f6f7f4;
    font-size: 55%;
    cursor: pointer;
}

.card2 {
    width: 20%;
    height: 85%;
    background-color: white;
    border-radius: 0.55rem;
}

.img2 {
    margin: 5%;
    margin-left: 23%;
    transition: all 2s;
    cursor: pointer;
}

.img2:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor2 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.card3 {
    width: 20%;
    height: 85%;
    background-color: white;
    border-radius: 0.55rem;
}

.img3 {
    margin: 5%;
    margin-left: 23%;
    transition: all 2s;
    cursor: pointer;
}

.img3:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor3 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.cardseg {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2px;
    justify-content: space-around;

}

.card4 {
    width: 20%;
    height: 45%;
    background-color: white;
    border-radius: 0.55rem;
}

.img4 {
    margin: 5%;
    margin-left: 20%;
    width: 140px;
    transition: all 2s;
    cursor: pointer;
}

.img4:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor4 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.card5 {
    width: 20%;
    height: 45%;
    background-color: white;
    border-radius: 0.55rem;
}

.img5 {
    margin: 5%;
    margin-left: 22%;
    width: 145px;
    transition: all 2s;
    cursor: pointer;
}

.img5:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor5 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

.card6 {
    width: 20%;
    height: 45%;
    background-color: white;
    border-radius: 0.55rem;
}

.img6 {
    margin: 5%;
    margin-left: 23%;
    width: 140px;
    transition: all 2s;
    cursor: pointer;
}

.img6:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor6 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

h4 {
    font-size: 2rem;
    text-align: center;
    margin-top: 6%;
}

.alunosgps {
    background-color: #222222;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 10%;
}

.alunosgps img {
    width: 50px;
}

.checkpoint {
    background-color: #222222;
}

@media (max-width: 426px) {
    .cabecalho {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 0;
        width: 100px;
    }

    .lista {
        display: none;
    }

    .butom2 {
        top: 34%;
        width: 29%;
        height: 5%;
    }

    .fundo {
        width: 100%;
    }

    h1 {
        top: 22%;
        left: 19%;
    }

    h3 {
        left: 10%;
    }

    .envio {
        width: 90px;
        height: 25px;
        font-size: 15px;
    }

    .cards {
        flex-direction: column;
        width: 100%;
        height: 1000%;
        border: 1px solid black;
    }

    .cardprimeira {
        margin-top: 1%;
        flex-direction: column;
        width: 80%;
        height: 100%;
        gap: 15px;
    }

    .footer {
        margin-top: 4%;
        width: 100%;

    }

    .alunosgps {
        height: 400px;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }

    .card1 {
        width: 80%;
    }

    .card2 {
        width: 80%;
    }

    .card3 {
        width: 80%;
    }

    .cardseg {
        flex-direction: column;
        margin-top: 5%;
        gap: 15px;

    }

    .card4 {
        width: 65%;
    }

    .card5 {
        width: 65%;
    }

    .card6 {
        width: 65%;
    }
}