*{
    margin: 0 auto;
    padding: 0;
    scroll-behavior:smooth
}
body{
    width: 1260px;
    background-color:rgb(209, 208, 208);
}
.cabecalho{
    width:99.6%;
    height:80px;
    border: 2px solid black;
    gap:2rem;
    display: flex;
    justify-content:space-around;
    background-color: #222222;
}
.logo{
    width:10%;
    height:45%;
    margin-top: 1%;
}
ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap:1rem;
    margin-top:8%;
    color:white;}
.carrinho{
    width:10%;   
}
.fundo{
    width:100%;
    height: 25rem;
}
h1{
    color:white;
    position:absolute;
    top:35%;
    left:27%;
}
span{
    color:red;
}
.retangulo{
    border: 2px solid red;
    width:15%;
    height:2.5rem;
    border-radius:1rem;
    top:45%;
    left: 42%;
    position:absolute;
    background-color:red;
}
h2{
    color:white;
    text-align:center;
}
h3{
    text-align:center;
    font-size:2rem;
    margin-top:3%;
}
.cards{
    border: 2px solid black;
    width:90%;
    height:19rem;
    display: flex;
    gap: 2px;
    justify-content:space-around;
}
.card1{
    border: 1px solid black;
    width:20%;
    height:19rem;
    background-color:white;
    border-radius: 0.55rem;
}
.img1{
    border: 2px solid black;
    margin:5%;
    margin-left:23%;
}
.valor{
    color:black;
    font-size:90%;
    flex-direction: column;
}
li{
    margin-left:6%;
}
.semjuros{
    font-size:75%;
}
.envio{
    color: #619D00;
    font-size: 55%;
}
.card2{
    border: 1px solid black;
    width:20%;
    height:19rem;
    background-color:white;
    border-radius: 0.55rem;
}
.img2{
    border: 2px solid black;
    margin:5%;
    margin-left:23%;
}
.valor2{
    color:black;
    font-size:90%;
    flex-direction: column;
}
li{
    margin-left:6%;
}
.semjuros{
    font-size:75%;
}
.envio{
    color: #619D00;
    font-size: 55%;
}
.card3{
    border: 1px solid black;
    width:20%;
    height:19rem;
    background-color:white;
    border-radius: 0.55rem;
}
.img3{
    border: 2px solid black;
    margin:5%;
    margin-left:23%;
}
.valor3{
    color:black;
    font-size:90%;
    flex-direction: column;
}
li{
    margin-left:6%;
}
.semjuros{
    font-size:75%;
}
.envio{
    color: #619D00;
    font-size: 55%;
}
h4{
    font-size:2rem;
    text-align:center;
    margin-top:6%;
}
.estrelas{
    border:1px solid black;
    height:15rem;
    width:90%;
    gap: 34px;
}
.mesa{
    border-radius: 1rem;
    margin-left: 13%;
    margin-top: 3%;
}
.cadeira{
    border-radius: 1rem;
    margin-left:13%;
}
h5{
    color:white;
    font-size:1.2rem;
    position:absolute;
    top: 183%;
    margin-left: 21%;}

h6{
    color:white;
    font-size:1.2rem;
    position:absolute;
    top: 183%;
    margin-left: 62%;
}
footer{
    border: 1px solid black;
    height:17rem;
    justify-content: space-around;
    background-color:#C4C4C4;
}

.logo2{
    border: 1px solid black;
    height:15rem;
    display: flex;
    background-color:#222222;
    gap: 26rem;
}
.jogo{
    width:10%;
    height:4rem;
    margin-top:6%;
}
.redes{
    width:10%;
    height:5rem;
    margin-top:6%;
}
h7{
    margin-left:41%;
}