* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth
}

body {
    background-color: #C4C4C4;
}

.cabecalho {
    width: 100%;
    height: 80px;
    border: 2px solid black;
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    position: fixed;
    align-items: center;
}

.logo {
    height: 30px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 5%;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.carrinho {
    height: 25px;
    margin-left: 50px;
}

.fundo {
    width: 100%;
    height: 25rem;
}

h1 {
    color: white;
    position: absolute;
    top: 35%;
    left: 27%;
}

span {
    color: red;
}

.butom2 {
    position: absolute;
    width: 220px;
    height: 61px;
    left: 540px;
    top: 300px;
    cursor: pointer;
    background-color: red;
    cursor: pointer;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
}

.cards {
    width: 90%;
    height: 700px;

}

.bottom {
    background-color: #33BB69;
    width: 50px;
    height: 20px;
}

.cardprimeira {
    width: 100%;
    height: 315px;
    display: flex;
    gap: 2px;
    justify-content: space-around;

}

.card1 {
    width: 20%;
    height: 19rem;
    background-color: white;
    border-radius: 0.55rem;
}

.img1 {
    margin: 5%;
    margin-left: 23%;
    transition: all 2s;
    cursor: pointer;
}

.img1:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.semjuros {
    font-size: 75%;
}

.envio {
    color: #f6f7f4;
    font-size: 55%;
    cursor: pointer;
}

.card2 {
    width: 20%;
    height: 19rem;
    background-color: white;
    border-radius: 0.55rem;
}

.img2 {
    margin: 5%;
    margin-left: 23%;
    transition: all 2s;
    cursor: pointer;
}

.img2:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor2 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.semjuros {
    font-size: 75%;
}

.card3 {
    width: 20%;
    height: 19rem;
    background-color: white;
    border-radius: 0.55rem;
}

.img3 {
    margin: 5%;
    margin-left: 23%;
    transition: all 2s;
    cursor: pointer;
}

.img3:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor3 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.semjuros {
    font-size: 75%;
}

.cardseg {
    width: 100%;
    height: 315px;
    display: flex;
    gap: 2px;
    justify-content: space-around;

}

.card4 {
    width: 20%;
    height: 20rem;
    background-color: white;
    border-radius: 0.55rem;
}

.img4 {
    margin: 5%;
    margin-left: 20%;
    width: 140px;
    transition: all 2s;
    cursor: pointer;
}

.img4:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor4 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.semjuros {
    font-size: 75%;
}

.card5 {
    width: 20%;
    height: 20rem;
    background-color: white;
    border-radius: 0.55rem;
}

.img5 {
    margin: 5%;
    margin-left: 22%;
    width: 145px;
    transition: all 2s;
    cursor: pointer;
}

.img5:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor5 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

.card6 {
    width: 20%;
    height: 20rem;
    background-color: white;
    border-radius: 0.55rem;
}

.img6 {
    margin: 5%;
    margin-left: 23%;
    width: 140px;
    transition: all 2s;
    cursor: pointer;
}

.img6:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.valor6 {
    color: black;
    font-size: 90%;
    flex-direction: column;
}

li {
    margin-left: 6%;
}

.semjuros {
    font-size: 75%;
}

li {
    margin-left: 6%;
}

.semjuros {
    font-size: 75%;
}

h4 {
    font-size: 2rem;
    text-align: center;
    margin-top: 6%;
}

.estrelas {
    height: 15rem;
    width: 90%;
    gap: 34px;
}

.mesa {
    border-radius: 1rem;
    margin-left: 11%;
    margin-top: 3%;
}

.cadeira {
    border-radius: 1rem;
    margin-left: 13%;
}

.cadeiras {
    color: rgb(4, 5, 5);
    position: absolute;
    left: 300px;
    font-size: 20px;
}

.pc {
    color: rgb(13, 15, 17);
    position: absolute;
    left: 820px;
    font-size: 20px;

}

.alunosgps {
    background-color: #222222;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    color: white;
}

.alunosgps img {
    width: 50px;
}

.checkpoint {
    background-color: #222222;
}
@media (max-width: 426px) {
    /* body {
        margin:0;
        width:40%;
    } */
    .cabecalho{
        width:100%;
        display: flex;
        justify-content:space-between;
        align-items:center;
    
    }
    .logo{
        width:25%;
    }
    .lista{
        display:none;
    }
    .butom2{
        justify-content:center;
        left: 20%;
    }
    .fundo{
        width:260%;
    }
    
    h3{
        margin-left: 63%;
    }
    h1{
        top:15%;
        text-align:center;
        width:50%;
        left: 19%;
    }
    .cards{
        flex-direction: column;
        width:210%;
        height:1000%;
    }
    .cardprimeira{
        margin-top:1%;
        flex-direction: column;
        width:80%;
        height:100%;
    }
    .footer{
        margin-top:200%;
        width:260%;
    
    }
    .card1{
        width:80%;
        margin-top:5%;
        height:20%;
    }

    .card2{
        width:80%;
        margin-top:5%;
        height:20%;
    }
    .card3{
        width:80%;
        margin-top:5%;
        height:20%;
    }
    .cardseg{
        flex-direction: column;
        margin-top:90%;

    }
    .card4{
        width:65%;
    }
    .card5{
        width:65%;
    }
    .card6{
        width:65%;
    }
   
  
    

}